/* 
    Document   : estilos
    Created on : 13/10/2012, 23:05:17
    Author     : heitormaffra
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family: Verdana, Arial, sans-serif;
}

